<!DOCTYPE html>
<html>
	<head>
	<!-- begin verification added 09 Jan 2018-->
	<meta name="google-site-verification" content="kO9DAjiPgMvebkKvDvBeeIEj8IFRIKbyZF115wiSvyw" />
	<!-- end verification added 09 Jan 2018 -->
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111540481-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-111540481-1');
        </script>
	</head>
	<body>
        <img alt="risksnap-icon" src="/images/RiskSnap.png" />
		<nav>
    		<ul>
                <li><a class="menufont" href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>        		
  			    <li><a class="menufont" href="/products">Products</a></li>
                <li class="dropdown">
                  <button class="dropbtn">Methods</button>
                  <div class="dropdown-content">
                    <a class="menufont" href="/marketriskfactors">Market Factors</a>
					<a class="menufont" href="/var">VaR</a>
                    <a class="menufont" href="/metrics">Metrics</a>
                  </div>
                </li>
				<li><a class="menufont" href="/newsworthy">Newsworthy</a></li>
				<li><a class="menufont" href="/regulations">Regulations</a></li>
				<li><a class="menufont" href="/architecture">Architecture</a></li>
	        	<li><a class="menufont" href="/resources">Resources</a></li>
				<li><a class="menufont" href="/downloads">Downloads</a></li>
        		<li><a class="menufont" href="/team">Team</a></li>
    		</ul>
		</nav>
		<div class="page-content">
            {{ content }}
	    </div><!-- /.page-content -->
		<footer>
        <div>
            <span class=""><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
            <a href="mailto:team@risksnap.com">team@risksnap.com</a>
        </div>
		</footer>
	</body>
</html>
