<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/fontawesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
        <img alt="risksnap-icon" src="/images/RiskSnap.png" />
		<nav>
    		<ul>
        		<li><a class="menufont" href="/">Home</a></li>
        		<li><a class="menufont" href="/services">Services</a></li>
	        	<li><a class="menufont" href="/resources">Resources</a></li>
        		<li><a class="menufont" href="/team">Team</a></li>
    		</ul>
		</nav>
		<div class="container">
            {{ content }}
	    </div><!-- /.container -->
		<footer>
        <div>
                <span class="fa fa-envelope fa-fw fa-2x"></span> <a href="mailto:team@risksnap.com">team@risksnap.com</a>
        </div>
		</footer>
	</body>
</html>
